/.phpunit.cache
/web/node_modules
/web/public/build
/web/public/hot
/web/public/storage
/web/storage/*.key
/web/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
